<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Levi's</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
	<style media="screen">
		body {
			margin: 0;
			padding: 0;
			min-width: 100%;
			font-size: 12px;
			color: #333333;
			font-family: Arial, Helvetica, sans-serif;
		}

		.canspam a {
			color: #2e394b;
		}

		.nav {
			font-size: 16px;
		}

		td.cta2 {
			width: 125px!important;
		}

		@media only screen and (max-width: 599px) {
			.widthFull {
				width: 100% !important;
				text-align: center !important;
			}
			.width90 {
				width: 95% !important;
				text-align: center !important;
			}
			.width200 {
				width: 200px!important;
				padding-top: 20px!important;
				text-align: center !important;
			}
			.hide {
				display: none !important;
			}
			.break {
				display: block !important;
				text-align: center;
			}
			.mb-nav {
				overflow: visible !important;
				display: block !important;
				font-size: 16px !important;
				line-height: 22px !important;
			}
			.mb-nav a {
				display: block;
				width: 80%;
				background-color: #011b36;
				padding: 15px;
				margin: 10px auto;
				text-transform: uppercase;
				text-decoration: none;
				color: #ffffff;
			}
			.canspam {
				text-align: center !important;
			}
			.prodlink {
				text-align: left!important;
			}
			.canspam a {
				text-decoration: none !important;
				color: #a9a9a9 !important;
				font-weight: bold !important;
				text-align: center;
			}
			.width300 {
				width: 300!important;
			}
			.bigO {
				width: 180px!important;
				display: block!important;
			}
			.paddingnull {
				padding: 0px !important;
			}
			.paddingwidth10 {
				padding: 0 10px !important;
			}
			.center {
				text-align: center !important;
			}
			.updown20 {
				padding: 20px 0 !important;
			}
			.up20 {
				padding: 20px 0 0!important;
			}
			td.cta2 {
				width: 100%!important;
			}
		}

	</style>
	<!--[if gte mso 12]>
<style>
  body {
    background-color:#ffffff;
  }
</style>
<![endif]-->
</head>

<body bgcolor="#f1f1f1">
	<div id="preheader">
		<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
			<tr>
				<td>
					<table align="center" width="600" class="widthFull" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td height="20" class="hide">&nbsp;</td>
						</tr>
						<tr>
							<td style="padding: 5px 15px; color: #f1f1f1; font-size: 10px; text-align: left" bgcolor="#f1f1f1" class="left hide"><a style="color: #f1f1f1; text-decoration: none;"> {% if preheader_text %}{{ preheader_text }}{% endif %} </a></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<!-- Preheader //-->

	<!-- Header //-->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="widthFull" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td style="text-align: left; padding: 14px;" class="widthFull break" align="left" width="184"> <a href="{{ 'https://www.levi.com/'|add_tracking_codes }}" border="0" style="text-decoration: none;"> <img src="https://gallery.mailchimp.com/fe5bec38a7c1d5946b0cdbfd3/images/d818e991-44aa-40a2-98ea-76661dda356f.png" width="180" border="0" class="width200"> </a> </td>
						
					</tr>
					
				</table>
			</td>
		</tr>
	</table>
	<!-- // Header -->


	{% if main_img %}
	<!-- Hero // -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="widthFull" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td align="center"> {% if main_img_destination_url %}<a href="{{ main_img_destination_url }}" style="text-decoration:none;">{% else %}<a href="{{ 'https://www.levi.com/shop/whatsnew/newarrivals'|add_tracking_codes }}" style="text-decoration:none;">{% endif %} <img src="{{ main_img }}" width="600" border="0" style="display:block;" class="widthFull" alt=""> </a>							</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- // Hero -->
	{% endif %}

	<!-- main body -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="width90" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td style="padding: 30px 0 10px;">
							<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="widthFull" style="">
								{% if title %}
								<tr>
									<td class=" break" align="center" style="padding:0px 20px; font-size:26px; line-height: 26px; font-weight:bold; font-family: Arial, sans-serif; color: #333333; text-transform: uppercase;">{{ title }}</td>
								</tr>
								{% endif %} {% if body_text %}
								<tr>
									<td class="width300 break" align="center" style="padding:20px 40px; font-family: Arial, sans-serif; font-size: 16px; line-height:25px; font-weight: normal; color: #4E4E4F;">{{ body_text }}</td>
								</tr>
								{% endif %}
								<tr>
									<td align="center" style="padding:0px 0px 0px 0px;">
										{% if cart_url %}
										<table width="135" height="38" style="background-color:#ffffff; border: 2px solid #000000; font-size: 14px; color: #000000; font-weight: bold; filter: none; text-decoration: none; text-transform: capitalize; cursor: pointer; padding: 5px 0;">
											<tr>
												<td align="center" style=""> <a href="{{ 'https://www.levi.com/shoppingcart/'|add_tracking_codes }}" style="text-decoration:none; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size:12px; text-transform: uppercase; font-weight: normal;"> {{ cart_text }} </a> </td>
											</tr>
										</table>
										{% else %}
										<table width="135" height="38" style="background-color:#ffffff; border: 2px solid #000000; font-size: 14px; color: #000000; font-weight: bold; filter: none; text-decoration: none; text-transform: capitalize; cursor: pointer; padding: 5px 0;">
											<tr>
												<td align="center" style=""> <a href="{{ 'https://www.levi.com/'|add_tracking_codes }}" style="text-decoration:none; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size:12px; text-transform: uppercase; font-weight: normal;"> {{ button_text }} </a>													</td>
											</tr>
										</table>
										{% endif %}<br/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
				</table>
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="fullWidth" style="background-color:#ffffff;">
					{% for product in products %}
					<tr>
						 {% if loop.length == 1 %}
						<td align="center" style="padding: 0px 0px 0px;">
						{% elif loop.first %}
						<td align="center" style="padding: 0px 0px 0px;">
							{% elif loop.last %}
							<td align="center" style="padding: 0px 0px 0px;">
								
								{% else %}
								<td align="center" style="padding: 0px 0px 0px;">
									{% endif %}
									<table width="560" align="center" border="0" cellpadding="0" cellspacing="0" class="prod-container" style="background-color:#ffffff">
									<tr>
											<td colspan="2" height="2" style="padding-bottom:1px;">
											<hr style="border-top:2px solid #cbcbcb; border-collapse: collapse;" width="widthFull">
											</td>
										</tr>
										<tr>
											<td align="center" style="padding: 0px" width="180" class="block prod-pad">
												<table border="0" cellpadding="0" cellspacing="0" align="center" width="180" class="prod-img-table">
													<tr>
														<td style="border:none;" align="center">
															<a href="{{product.link}}" style="text-decoration:none;" border="0">
                              <img src="{{product.image_link}}" border="0" style="text-decoration:none;" width="178" />
                            </a>
														</td>
													</tr>
												</table>
											</td>
											<td align="center" style="padding: 20px;" class="block prod-pad">
												<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td align="center" style="text-align:left;" class="prod-title">
															<a href="{{product.link}}" style="text-decoration:none;color:#000000;font-weight:bold; font-size: 16px;">
                              {{product.title}}
                            </a>
														</td>
													</tr>
													<tr>
														<td style="padding: 10px 0px">
															<table border="0" cellpadding="0" cellspacing="0" align="" bgcolor="#ffffff" style="background-color:#ffffff; border: 2px solid #000000; font-size: 14px; color: #000000; font-weight: bold; filter: none; text-decoration: none; text-transform: capitalize; cursor: pointer; padding: 5px 0;"
															class="prod-cta">
																<tr>
																	<td align="center" valign="middle" style="padding: 5px 25px">
																		<a href="{{ product.link }}" style="text-decoration:none;color:#000000;font-family:Arial, sans-serif;text-transform:uppercase;font-weight:normal; font-size: 12px;">{{button_text}}</a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										
									</table>
								</td>
					</tr>
					{% endfor %}
				</table>
				
			</td>
		</tr>
	</table>

	<!-- hr // -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="width90" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td class="canspam paddingwidth10" style="font-size:12px; color:#999999; line-height:19px; text-align: center; padding:0 20px;" height="20">
							<hr style="border-top:2px solid #cbcbcb; border-collapse: collapse;" width="widthFull">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- // hr -->

	<!-- Self enabled Section// -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				{% if hotcombos or relateditems %}
				<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
					<tr>
						<td align="center" bgcolor="#ffffff" style="padding: 0px 0px 10px; text-align: center; font-family: 'Roboto Black', Arial, Helvetica, sans-serfi; font-weight:bold; color: #333333; line-height: 24px; font-size: 22px; text-transform: uppercase;" height="40"
						  class="widthFull">
							These Items Come Highly Recommended
						</td>
					</tr>
				</table>
				{% endif %}
				<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
				<tr><td>
						{% if hotcombos|length == 1 and relateditems|length == 1 %}
						<table align="center" width="410" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
						{% elif hotcombos|length == 0 and relateditems|length == 2 %}
						<table align="center" width="410" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
						{% elif hotcombos|length == 0 and relateditems|length == 1 %}
						<table align="center" width="190" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
						{% elif hotcombos|length == 1 and relateditems|length == 0 %}
						<table align="center" width="190" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
						{% else %}
						<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
						{% endif %}
					<tr>
						
						<td align="center" style="padding: 0 15px;" bgcolor="#ffffff">
							{% if hotcombos %}

							<table width="174" align="left" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="table-layout: fixed; margin: 8px;border-color: #ffffff" class="width90">
								<tr>
									<td align="center" style="padding:0px; border: none;"><a href="{{ hotcombos[0].link }}" border="0"><img src="{{ hotcombos[0].image_link }}" width="170" class="widthFull" border="0"></a></td>
								</tr>
								<tr>
									<td align="center" style="padding:10px 10px;" height="30"><a href="{{ hotcombos[0].link }}" border="0" style="font-weight: normal; font-size: 12px; line-height: 16px; color: #333333; text-decoration: none; font-family: Arial, Helvetica, sans-serif;">{{ hotcombos[0].title|truncate(35) }}</a></td>
								</tr>
							</table>

								{% if relateditems %}
								<!--[if mso]>
								</td>
								<td align="center" style="padding: 0;" bgcolor="#ffffff">
								<![endif]-->
								{% endif %}

							{% endif %}
							{% for relateditem in relateditems %}

							<table width="174" align="left" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="table-layout: fixed; margin: 8px;border-color: #ffffff" class="width90">
								<tr>
									<td align="center" style="padding:0px;"><a href="{{ relateditem.link }}" border="0"><img src="{{ relateditem.image_link }}" width="170" class="widthFull" border="0"></a></td>
								</tr>
								<tr>
									<td align="center" style="padding:10px 10px;" height="30"><a href="{{ relateditem.link }}" border="0" style="font-weight: normal; font-size: 12px; line-height: 16px; color: #333333; text-decoration: none; font-family: Arial, Helvetica, sans-serif;">{{ relateditem.title|truncate(35) }}</a></td>
								</tr>
							</table>

								{% if not loop.last %}
								<!--[if mso]>
								</td>
								<td align="center" style="padding: 0;" bgcolor="#ffffff">
								<![endif]-->
								{% endif %}

							{% endfor %}

						</td>
					</tr>
							</table>
							</td>
				</tr>
				</table>
				<!-- hr // -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="width90" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td class="canspam paddingwidth10" style="font-size:12px; color:#999999; line-height:19px; text-align: center; padding:0 20px;" height="20">
							<hr style="border-top:2px solid #cbcbcb; border-collapse: collapse;" width="widthFull">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- // hr -->
				<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="width90">
					{% if secondary_title %}
					<tr>
						<td>
							<table align="center" width="100%" height="10px" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
								<tr>
									<td style="font-family: Arial, sans-serif; font-size: 18px; color: #333333; text-align: center;">

										{{ secondary_title }}

									</td>
								</tr>
							</table>
						</td>
					</tr>
					{% endif %}

					{% if secondary_copy %}
					<tr>
						<td height="5">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#ffffff" style="padding:0px 10px; font-family: Arial, sans-serif; font-size: 11px; line-height:25px; font-weight: bold; color: #000000;">
							{{ secondary_copy }}
						</td>
					</tr>
					<tr>
						<td height="5">&nbsp;</td>
					</tr>
					{% endif %}
				</table>
			</td>
		</tr>
	</table>
	<!-- // Self enabled Section -->
<!-- Social // -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="width90" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td height="5">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- // Social -->


	<!-- begin footer -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" style="table-layout: fixed;">
		<tr>
			<td>
				<table align="center" width="600" class="width90" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
					
					<!--- socials -->
					<tr>
						<td class="canspam paddingwidth10" align="center">
							<a href="#" style="text-decoration: none; color: #FFFFFF">
								<img src="https://gallery.mailchimp.com/fe5bec38a7c1d5946b0cdbfd3/images/39fec7a2-8330-4482-bd10-c52cf0974ae8.gif" border="0" height="33">
							</a>
							<a href="#" style="text-decoration: none; color: #FFFFFF">
								<img src="https://gallery.mailchimp.com/fe5bec38a7c1d5946b0cdbfd3/images/a9d41723-f1b9-4d5d-bdce-18090aaf4ee6.gif" border="0" height="33">
							</a>
							<a href="#" style="text-decoration: none; color: #FFFFFF">
								<img src="https://gallery.mailchimp.com/fe5bec38a7c1d5946b0cdbfd3/images/3d192b0d-873e-47ec-831c-a25d5384c05c.gif" border="0" height="33">
							</a>
							<a href="#" style="text-decoration: none; color: #FFFFFF">
								<img src="https://gallery.mailchimp.com/fe5bec38a7c1d5946b0cdbfd3/images/8f29aaab-791b-4b35-8258-647ea58e1323.gif" border="0" height="33">
							</a>
							<a href="#" style="text-decoration: none; color: #FFFFFF">
								<img src="https://gallery.mailchimp.com/fe5bec38a7c1d5946b0cdbfd3/images/3adcc941-ee72-461d-bff6-896a38c8c228.gif" border="0" height="33">
							</a>
						</td>
					</tr>
					<!-- /socials -->
					{% if footer_text %}
					<tr>
						<td class="break" style="padding: 10px; text-align: center; font-size: 10px; color: #888888; font-family: Arial, Helvetica, sans-serif;">

							{{ footer_text }}

<br/><br/>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td class="break" style=" padding: 10px; text-align: center; font-size: 10px; color: #888888; font-family: Arial, Helvetica, sans-serif;">

							This email was sent {% if Email %}to {{ Email }}{% endif %} by Levi's
							<br>{{ canspam_text }}
							
						</td>
					</tr>
					<tr>
						<td height="15">&nbsp;<img src="{{ tracking_image }}" border="0"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td clas="hide" height="20"></td>
		</tr>
	</table>
</body>

</html>
